KBQA/actorName.txt 
KBQA/movieName.txt
*.json
*.pyc
semantic_search/elasticsearch/data/*.txt
semantic_search/elasticsearch/data/attr_ac.pkl 
ie/deepdive/udf/bazaar/*
ie/deepdive/*.txt
ie/deepdive/run/*
ie/deepdive/*.csv
*.txt
*.csv
ie/craw/craw_all_baidu/craws/*
ie/re_cnn_att/data/*.csv
ie/re_cnn_att/data/*.txt
ie/re_cnn_att/data/*.pkl
ie/re_cnn_att/data/*.json
ie/re_cnn_att/thirdpart/*
